/*  LAS FUENTES  */
@font-face {
    font-family: protests;
    src: url(../fuentes/ProtestStrike-Regular.ttf);
}

/* EL CUERPO CENTRADO Y EL COLOR DEL FONDO*/
body {
    background-image: url(../imagenes/fondo_claro_pokeapi.jpg);
    font-family:protests;
}

.cuerpo_fuera{
    display: grid;
}

.cuerpo_dentro{
    margin: auto;
}

/* el boton de modo oscuro */
#modoOscuro {
    background-color: rgb(30, 30, 30);
    color: white;
    margin-top: 10%;
}

/* IMAGEN Y NAVEGACION */
#Pokedex_icono{
    width: 60vh;
    margin: auto;
    display: flex;
}

/* LOS BOTONES DE ARRIBA */
.Botones_arriba {
    margin-top: 1%;
    position: absolute;
}

#Volver {
    top: 2vh;
    left: 47vh;
}

#flecha_atras {
    width: 7vh;
}

/* LA BASE DE LA PAGINA */
#Base{
    margin-top: 3%;
    padding: 2vh;
    background-color: rgba(255, 255, 255, 0.342);
    text-align: center;
}

/* DATOS POKEMON */
#fotoPokemon{
    width: 40vh;
}

.iconosPequeno {
    width: 5vh;
}

/*  los tipos de los pokemons   */

h1{ /*EL NOMBRE*/
    background-color: aliceblue;
    border-radius: 60vh;
    margin: 0vh;
    margin-bottom: -3vh;
    font-size: 8vh;
    font-style: oblique;
}

h3 { /*el codigo*/
    font-size: 6vh;
    margin: 1vh;
    font-style: oblique;
}

.tipo{
    display: inline;
    margin-right: 10px;
    padding: 0.6vh;
    width: 9vh;
    height: 3vh;
    font-size: 2vh;
    border-radius: 10px;
}

hr {
    margin: 5vh 0;
}

#descripcion {
    background-color: rgba(216, 216, 216, 0.568);
    border-radius: 1vh;
    padding: 1vh;
    width: 40vh;
    margin: auto;
}