body {
    background-color: beige;
    margin: 0;
    transition: background-image 0.5s ease-in-out;
}

.modo-oscuro {
    background-color: rgb(30, 30, 30);
    color: white;
}

.headerPrincipal {
    background-color: rgb(210, 0, 0);
    height: 40%;
    display: flex;
}

.headerSecundario {
    background-color: black;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 10px;
}

.botonBuscar {
    margin-left: auto;
    margin-right: 20px;
}

.cuerpo_fuera {
    display: grid;
    width: 50%; /* ancho de todo el bloque de la pagina */
    margin: auto;
}

#Pokedex_icono {
    width: 70vh;
    margin: auto;
}

.modoOscuro {
    margin-left: 20px;
}

#Base {
    background-color: rgba(83, 83, 83, 0.418);
}

p {
    color: black;
}
