body {
    background-color: rgb(0, 0, 0);
    margin: 0;
    transition: background-image 0.5s ease-in-out;
}



/*/////////// LA CABEZERA Y LA BARRA DE NAVEGACION ////////////*/
header {
    background-color: rgb(210, 0, 0);
    height: 40%;
    display: flex;
}

#Pokedex_icono { /*La foto de arriba*/
    width: 40vh;
    margin: auto;
}

nav {
    background-color: black;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 10px;
}

/* el boton de modo oscuro y la barra de buscar */
#modoOscuro {
    background-color: rgb(30, 30, 30);
    color: white;
    margin-left: 20px;
}

#botonBuscar {
    margin-left: auto;
    margin-right: 20px;
}

/* DONDE APARECEN TODOS LOS POKEMONS */
.cuerpo_fuera {
    display: grid;
    width: 50%; /* ancho de todo el bloque de la pagina */
    margin: auto;
}

#Base {
    background-color: rgba(83, 83, 83, 0.418);
    display: grid;
    grid-template-columns: 40vh 40vh;
    padding: 2vh;
}

p {
    color: black;
}

/* POKEMONS */

.pokemons {
    background-color: aliceblue;
    text-align: center;
    padding: 2.5vh 0px;
    margin: 15px;
    border-radius: 10px;
}