body {
    background-color: beige;
    margin: 0;
}

nav{
    padding-top: 10px;
}

.navegacion {
    background: rgb(149,124,0);
    background: linear-gradient(90deg, rgba(149,124,0,1) 0%, rgba(247,255,0,1) 100%);
    border: 2px solid black;
    position: fixed;
    padding: 5px 0px 5px 40px;
    width: 40vh;
    left: -250px;
    top: 40px;
}

.navegacion:hover {
    left: -30px;
}

.cuerpo_fuera{
    display: grid;
}

.cuerpo_dentro{
    background-color: rgba(83, 83, 83, 0.418);
    margin: auto;
}

#Pokedex_icono{
    width: 80vh;
}

p{
    color: black;
}