#grass {
    background-color: green;
}

#fire {
    background-color: red;
}

#water {
    background-color: #2481EF;
}

#poison {
    background-color: #8F41CB;
}

#bug {
    background-color: #92A212;
}

#normal {
    background-color: #9FA19F;
}

#flying {
    background-color: #81B9EF;
}

#electric {
    background-color: #FAC000;
}

#ground {
    background-color: #915121;
}

#fairy {
    background-color: #EF71EF;
}

#fighting {
    background-color: #FF8100;
}

#psychic {
    background-color: #EF4179;
}

#rock {
    background-color: #AFA981;
}

#steel {
    background-color: #60A1B8;
}

#ice {
    background-color: #3DD9FF;
}

#ghost {
    background-color: #704170;
}